<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registro de Materia</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <div class="container mt-5">
        <h1 class="mb-4">Registro de Materia</h1>
        <form th:action="@{/guardarMateria}" th:object="${materia}" method="post">
            <div class="form-group">
                <label for="codigo">Código:</label>
                <input type="text" id="codigo" class="form-control" name="codigo" data-th-field="*{codigo}" placeholder="Ingresa el Código de la Materia" />
            </div>
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" class="form-control" name="nombre" data-th-field="*{nombre}" placeholder="Ingresa el Nombre de la Materia" />
            </div>
            <div class="form-group">
                <label for="cargaHoraria">Carga Horaria:</label>
                <input type="text" id="cargaHoraria" class="form-control" name="cargaHoraria" data-th-field="*{cargaHoraria}" placeholder="Ingresa la Carga Horaria" />
            </div>
            <div class="form-group">
                <label for="anio">En que curso se dicta la Materia:</label>
                <input type="text" id="anio" class="form-control" name="anio" data-th-field="*{anio}" placeholder="Ingresa el año en letras" />
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>

        <a href="/alumno" class="btn btn-secondary mt-3">Ir a Alumno</a>
        <a href="/docente" class="btn btn-secondary mt-3">Ir a Docente</a>
        <a href="/listaMaterias" class="btn btn-secondary mt-3">Ir a Lista</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
